/* colors #b2bec3 #636e72 #535c68 #57606f */

#loadingBox h1{
    font-size: 110px;
    font-weight: bold;
    color: #130f40;
    letter-spacing: 5px;
}

#loadingHeadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    margin: 30px auto;
}

#containerBox{
    position: absolute;
    perspective: 1000px;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin: 200px 50% 0px 50%;
}

#box{
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(170deg);
    animation: rotate 1.3s linear 0s infinite forwards;
    
}

.cards{
    font-size: 30px;
    color: white;
    position: relative;
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top{
    top: 50%;
    right: 0%;
    transform: rotateX(90deg) translate(0%,-50%);
    background-color: black;
}
#bottom{
    top: -49%;
    right: 50%;
    background-color: black;
    transform: rotateX(90deg) translate(50%,-50%);
}
#left{
    top: 0;
    right: 50%;
    transform: rotateY(90deg) translate(50%,0);
    background-color: #5f696c;
}
#front{
    top: 0;
    right: -49%;
    background-color: #636e72;
    transform: rotateY(90deg) translate(50%,0);
}
#back{
    transform:translateZ(-100px) rotateX(180deg);
    background-color: #535c68
}
#right{
    background-color: #57606f;
}


@keyframes rotate{
    0%{
        transform: rotate3d(1,1,1,0deg);
    }
    100%{
        transform: rotate3d(100,100,0,360deg);
    }
}