@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

div#upButton {
  position: fixed;
  bottom: -2rem;
  right: 2rem;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
  padding: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px solid gray;
  background-color: #EBC934;
  transition: 0.33s;
  z-index: 999999;
}

div.varient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent, #000000);
}

.active {
  bottom: 2rem !important;
}

header {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  color: white;
  padding: 10px 60px;
  overflow: clip;
}
header nav {
  top: 0;
  left: 0;
  position: relative;
  z-index: 999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 10px 0px;
}
header nav img#logoHeader {
  width: 50px;
  height: 50px;
}
header nav ul#headerLists {
  list-style: none;
  display: flex;
  flex-direction: row;
}
header nav ul#headerLists li {
  color: white;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
}
header nav ul#headerLists li::after {
  content: "";
  background-color: white;
  width: 0%;
  height: 1.5px;
  border-radius: 5px;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transition: 0.3s;
}
header nav ul#headerLists li::before {
  content: "";
  background-color: white;
  width: 0%;
  height: 1.5px;
  border-radius: 5px;
  position: absolute;
  bottom: -4px;
  right: 49%;
  transition: 0.3s;
}
header nav ul#headerLists li:hover::after {
  width: 50%;
}
header nav ul#headerLists li:hover::before {
  width: 50%;
}
header nav ul#headerLists li:not(:last-child) {
  margin-right: 2.5rem;
}
header img#header-sky-bg {
  position: absolute;
  width: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
header img#cloud1 {
  position: absolute;
  width: 30%;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -50%);
}
header img#cloud2 {
  position: absolute;
  width: 30%;
  top: 30%;
  right: -10%;
  transform: translate(-50%, -50%);
}
header h1#header-message {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8rem;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
}

@keyframes pumb1 {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 110%;
    height: 110%;
  }
}
@keyframes pumb2 {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 120%;
    height: 120%;
  }
}
#canvasContainer {
  position: relative;
  z-index: 1;
  border-top: 5px solid #101028;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#canvasContainer canvas#space-effect {
  width: 100%;
  background-color: #000000;
  overflow: hidden;
  margin: 0px 0px 9rem 0px;
  cursor: crosshair;
}

@keyframes canvasTitleFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
main section#skills-section #skills-container {
  width: 70%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
main section#skills-section #skills-container div.skill {
  width: 45%;
}
main section#skills-section #skills-container div.skill h3 {
  font-size: 2rem;
  color: #ebc934;
}
main section#skills-section #skills-container div.skill p {
  font-family: "Cairo", sans-serif;
}
main section#skills-section #skills-container div.skill p span.span-glow {
  transition: 0.4s;
}
main section#skills-section #skills-container div.skill p:hover span.span-glow {
  color: #ebc934;
}
main section#skills-section #skills-container div.skill:nth-child(2) {
  margin-left: auto;
}
main section#skills-section #slider-container {
  width: 60%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px 0px;
  border: 2px solid black;
  background-color: #ffffff;
  border-right: none;
  border-left: none;
  margin: 8rem auto;
  overflow-x: clip;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow-y: visible;
  overflow-y: visible;
}
main section#skills-section #slider-container::after {
  content: "Languages & technologies";
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: px;
  background-color: #eee;
  border-radius: 30px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 15px;
}
main section#skills-section #slider-container .slider {
  display: inline-block;
  animation: 20s move infinite linear;
}
main section#skills-section #slider-container .slider img {
  width: 40px;
  height: 40px;
  margin: 15px 60px;
}

h1.section-header {
  font-size: 4rem;
  margin: 0px auto;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
h1.section-header hr {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 120%;
  transform: translateX(-50%);
}

@keyframes move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
section#projects-section {
  padding-top: 20rem;
  overflow: hidden;
  position: relative;
  border-top: 10px solid #6eb62e;
  background-color: black;
  background-image: url("../../images/sky-background.jpg");
  background-position: right center;
  background-size: cover;
}
section#projects-section h1 {
  color: white;
}
section#projects-section .tree {
  position: absolute;
  width: 40rem;
}
section#projects-section #moon-img {
  position: absolute;
  top: -8rem;
  left: 49.5%;
  transform: translateX(-50%);
  border-radius: 50%;
  box-shadow: 0px 0px 50px white;
  opacity: 0.98;
  width: 8.5rem;
  height: 8.5rem;
}
section#projects-section .tree-root1 {
  rotate: -100deg;
  top: -40rem;
  right: -40rem;
}
section#projects-section .tree-root2 {
  rotate: 100deg;
  top: -40rem;
  left: -40rem;
}
section#projects-section #projects-container {
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
  overflow: hidden;
}
section#projects-section #projects-container img#project-1-UR {
  top: -100%;
  right: 10%;
}
section#projects-section #projects-container img#project-1-UL {
  top: -100%;
  left: 15%;
}
section#projects-section #projects-container img#project-1-BR {
  bottom: 10%;
  right: -100%;
}
section#projects-section #projects-container img#project-1-BL {
  bottom: 30%;
  left: -100%;
}
section#projects-section #projects-container img#project-2-UR {
  top: -100%;
  right: 10%;
  animation: swim 4s linear 0s infinite forwards;
}
section#projects-section #projects-container img#project-2-UL {
  top: -100%;
  left: 15%;
}
section#projects-section #projects-container img#project-2-BR {
  bottom: 10%;
  right: -100%;
}
section#projects-section #projects-container img#project-2-BL {
  bottom: 30%;
  left: -100%;
}
section#projects-section #projects-container img#project-3-UR {
  top: -100%;
  right: 10%;
}
section#projects-section #projects-container img#project-3-UL {
  top: -100%;
  left: 15%;
}
section#projects-section #projects-container img#project-3-BR {
  bottom: 10%;
  right: -100%;
}
section#projects-section #projects-container img#project-3-BL {
  bottom: 30%;
  left: -100%;
}
section#projects-section #projects-container div#active-slider {
  position: relative;
  width: 80%;
  height: min-content-5px;
  margin: 50px 0px;
  background-color: transparent;
}
section#projects-section #projects-container div#active-slider span#right-slider-button {
  top: 50%;
  right: 0%;
  transform: translate(100%, -50%);
}
section#projects-section #projects-container div#active-slider span#right-slider-button img {
  rotate: 180deg;
}
section#projects-section #projects-container div#active-slider span#left-slider-button {
  top: 50%;
  border-radius: 50% 0px 0px 50%;
  left: 0%;
  transform: translate(-100%, -50%);
}
section#projects-section #projects-container div#active-slider span#left-slider-button img {
  rotate: 0deg;
}
section#projects-section #projects-container div#active-slider span.slider-button {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: white;
  border-radius: 0px 50% 50% 0%;
  cursor: pointer;
}
section#projects-section #projects-container div#active-slider span.slider-button img {
  width: 20px;
}
section#projects-section #projects-container div#active-slider img#active-image-slider {
  width: 100%;
  height: 100%;
}
section#projects-section #projects-container div#active-slider div#project-number {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: rgba(0, 0, 0, 0.276);
  display: flex;
  padding: 7px 8px;
  border-radius: 10%;
}
section#projects-section #projects-container div#active-slider div#project-number span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #7c7c7c;
  display: block;
}
section#projects-section #projects-container div#active-slider div#project-number span:not(:last-child) {
  margin-right: 5px;
}

img.slider-decoration {
  width: 100px;
  position: absolute;
  z-index: 9999;
  transition: 0.5s;
  animation: swim 4s linear 0s infinite forwards;
}

.active-dot {
  background-color: white !important;
}

.active-icon-TR {
  top: 10% !important;
  animation-delay: 1s !important;
}

.active-icon-TL {
  top: 3% !important;
}

.active-icon-BR {
  right: 3% !important;
}

.active-icon-BL {
  left: 3% !important;
  animation-delay: 1s !important;
}

@keyframes image-fade-1 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes image-fade-2 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes swim {
  0% {
    transform: translate(0%, 5%);
  }
  15% {
    transform: translate(5%, 2%);
  }
  30% {
    transform: translate(5%, 0%);
  }
  40% {
    transform: translate(5%, -2%);
  }
  50% {
    transform: translate(0%, -5%);
  }
  65% {
    transform: translate(-2%, -3%);
  }
  80% {
    transform: translate(-5%, 0%);
  }
  90% {
    transform: translate(-3%, 2%);
  }
  100% {
    transform: translate(0%, 5%);
  }
}
#about-section {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 70px 0px 0px 0px;
  background-color: #434040;
  border-bottom: 5px solid white;
  overflow: hidden;
}
#about-section #about-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px auto;
}
#about-section #about-icon-container img {
  filter: invert(100%);
  width: 1.2rem;
  cursor: pointer;
}
#about-section .about-header {
  font-weight: bold;
  color: #4a86d7;
  width: 60%;
  line-height: 80%;
  font-size: 8rem;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-section div#about-container {
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  overflow: clip;
  overflow-y: visible;
  z-index: 0;
}
#about-section div#about-container div#details {
  position: relative;
  z-index: 99999;
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: #4a86d7;
  width: 60%;
  padding: 5% 5% 5% 5%;
  margin: 10% auto 5% auto;
  height: -moz-fit-content;
  height: fit-content;
  text-align: start;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.297);
}
#about-section div#about-container div#details div#cars-div {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0%;
  left: 0%;
  transform: translateY(-100%);
  overflow: hidden;
}
#about-section div#about-container div#details div#cars-div img#sport-car {
  position: absolute;
  width: 50px;
  bottom: 0%;
  left: -80%;
  animation: car_move 20s linear 0s infinite forwards;
}
#about-section div#about-container div#details div#cars-div img.polic-car {
  position: absolute;
  width: 50px;
  bottom: 0%;
  left: -30%;
}
#about-section div#about-container div#details div#cars-div img#police-car1 {
  animation: car_move 20s linear 1s infinite forwards;
}
#about-section div#about-container div#details div#cars-div img#police-car2 {
  animation: car_move 20s linear 1.5s infinite forwards;
}
#about-section div#about-container div#details div#cars-div img#police-car3 {
  animation: car_move 20s linear 2.2s infinite forwards;
}
#about-section div#about-container div#details div#cars-div img#police-helicopter {
  rotate: 20deg;
  animation: helicopter_move 20s linear 2.1s infinite forwards;
}
#about-section div#about-container div#details h1 {
  position: relative;
  z-index: 9999;
  font-size: 3rem;
  font-weight: bold;
  color: #434040;
  margin: 3% 0%;
}
#about-section div#about-container div#details h2 {
  z-index: 9999;
  font-size: 1.3rem;
}
#about-section div#about-container div#details p {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
}

@keyframes car_move {
  0% {
    bottom: 0%;
    left: -60%;
  }
  100% {
    bottom: 0%;
    left: 600%;
  }
}
@keyframes helicopter_move {
  0% {
    top: 30%;
    left: -90%;
  }
  100% {
    top: 30%;
    left: 700%;
  }
}
@media (max-width: 600px) {
  header {
    padding: 10px 10px !important;
    height: 70vh;
  }
  header img#header-sky-bg {
    position: absolute;
    width: 300%;
  }
  header img#cloud1 {
    position: absolute;
    width: 40%;
    left: 25%;
  }
  header img#cloud2 {
    position: absolute;
    width: 40%;
    right: -20%;
  }
  header a img {
    width: 40px !important;
    height: 40px !important;
  }
  header ul#headerLists li {
    font-size: 16px !important;
  }
  header ul#headerLists li:not(:last-child) {
    margin-right: 1rem !important;
  }
}
@media (max-width: 600px) {
  #canvasContainer {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #canvasContainer::after {
    font-size: 2rem;
    letter-spacing: 5px;
  }
  #canvasContainer canvas#space-effect {
    width: 100vw;
    background-color: black;
    overflow: hidden;
    margin: 0px 0px 3rem 0px;
  }
}
@media (max-width: 600px) {
  h1.section-header {
    font-size: 3rem;
  }
  main section#skills-section #skills-container {
    width: 90%;
  }
  main section#skills-section #skills-container div.skill {
    width: 80%;
  }
  main section#skills-section #skills-container div.skill:not(:last-child) {
    margin-bottom: 100px;
  }
  main section#skills-section #slider-container {
    width: 100%;
    margin: 8rem auto 2rem auto !important;
  }
  main section#skills-section #slider-container .slider img {
    width: 30px;
    height: 30px;
    margin: 15px 40px;
  }
}
@media (max-width: 600px) {
  section#projects-section {
    padding-top: 10rem;
  }
  section#projects-section #moon-img {
    width: 6rem;
    height: 6rem;
  }
  section#projects-section .tree {
    width: 33rem;
  }
  section#projects-section #projects-container {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px 0px;
  }
  section#projects-section #projects-container div#active-slider {
    width: 95%;
  }
  section#projects-section #projects-container div#active-slider span#right-slider-button {
    top: 120%;
    right: 30%;
    padding: 15px 10px;
    border-radius: 50%;
    background-color: white;
    transform: translate(100%, -50%);
  }
  section#projects-section #projects-container div#active-slider span#right-slider-button img {
    rotate: 180deg;
  }
  section#projects-section #projects-container div#active-slider span#left-slider-button {
    top: 120%;
    left: 30%;
    padding: 15px 10px;
    border-radius: 50%;
    background-color: white;
    transform: translate(-100%, -50%);
  }
  section#projects-section #projects-container div#active-slider span#left-slider-button img {
    rotate: 0deg;
  }
  section#projects-section #projects-container div#active-slider span.slider-button img {
    width: 10px;
  }
  section#projects-section #projects-container img.slider-decoration {
    width: 40px;
  }
  section#projects-section #projects-container .image-container {
    width: 30rem;
  }
}
@media (max-width: 600px) {
  #about-section #about-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0px auto 10px auto;
  }
  #about-section #about-icon-container img {
    filter: invert(100%);
    width: 1.2rem;
    cursor: pointer;
  }
  #about-section .about-header {
    line-height: 90%;
    font-size: 5rem;
  }
  #about-section div#about-container {
    padding-top: 2rem;
  }
  #about-section div#about-container div#details {
    width: 90%;
  }
  #about-section div#about-container div#details h1 {
    position: relative;
    z-index: 9999;
    font-size: 1.8rem;
    font-weight: bold;
    color: #434040;
    margin: 3% 0% 2% 0%;
  }
  #about-section div#about-container div#details h2 {
    z-index: 9999;
    font-size: 1rem;
  }
  #about-section div#about-container div#details p {
    width: 50%;
    height: -moz-fit-content;
    height: fit-content;
  }
}/*# sourceMappingURL=main.css.map */