*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    height: 6000px;
}

//Elevator part of select sections to scroll to;
#sectionsElevator{
    width: 200px;
    height: 350px;
    color: white;
    background-color: rgba(128, 128, 128, 0.356);
    position: fixed;
    top: 100px;
    left: 0px;
    backdrop-filter: blur(5px);
    border-radius: 0px 10px 10px 0px;
    transform: translateX(-100%);
    transition: .4s;
    padding: 50px 0px;
    z-index: 9999;

    & .selectSection{
        width: 100%;
        height: auto;
        padding: 15px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & img{
            width: 25px;
        }

        & p{
            font-size: 18px;
            letter-spacing: 3px;
            color: black;
            cursor: pointer;
            transition: .4s;

            &:hover{
                color: gray;
            }
        }
    }

    & #arrowDiv{
        position: absolute;
        width: 30px;
        height: 60px;
        background-color: rgba(128, 128, 128, 0.201);
        top: 50%;
        right: 0px;
        transform: translate(98%,-50%);
        border-radius: 0px 10px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        cursor: pointer;
        
        & i{
            color: black;
            font-size: 20px;
            transition: .4s;
        }
    }
}
