$green-color: rgba(47, 203, 94, 0.82);
$low-green-color: rgba(47, 203, 94, 0.224);
$dark-gray-color: rgb(81, 81, 81);
$light-gray-color: rgba(81, 81, 81, 0.457);
$electron-blue: #0984e3;
$white-4: #c8d6e5;
$green-4: #1f9c8d;
$american-river: #919495b6;
$semi-dark-blue: #4328be;
$dark-white: #9a9fa3;
$dark-red: #c0392b;