@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

body {
  background-color: #FFF;
  width: 100vw;
  height: 100vh;
  font-family: "Alexandria", sans-serif;
  overflow-x: hidden;
}

header.header {
  background-color: #F6F6F6;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.header div#headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px 10%;
}
header.header div#headerContainer #image-logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header.header div#headerContainer #image-logo-header img.header-logo {
  width: 4rem;
}
header.header div#headerContainer #image-logo-header img#header-ministry-logo {
  width: 8.5625rem;
  height: 5.58819rem;
}
header.header div#headerContainer div#lang-select {
  position: relative;
  width: 5.875rem;
  height: 1.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 500;
  height: 3rem;
  background-color: rgba(162, 162, 162, 0.4);
  border-radius: 0.7rem;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
header.header div#headerContainer div#lang-select::-moz-selection {
  background-color: none;
}
header.header div#headerContainer div#lang-select::selection {
  background-color: none;
}
header.header div#headerContainer div#lang-select #selected-lang-box {
  width: 50%;
  height: 100%;
  border-radius: 20%;
  padding: 1rem;
  background-color: #039BE5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.3s ease-in-out;
}
header.header div#headerContainer div#lang-select #selected-lang-box::-moz-selection {
  background-color: none;
}
header.header div#headerContainer div#lang-select #selected-lang-box::selection {
  background-color: none;
}

main {
  transition: opacity 0.5s ease-in-out;
}
main div#E-D-H-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 3rem 0px 1rem 0px;
  text-align: center;
}
main div#E-D-H-container h1#E-D-H-1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  margin-bottom: 1.5rem;
  transition: inherit;
}
main div#E-D-H-container h3#E-D-H-3 {
  font-size: 1rem;
  font-style: normal;
  color: black;
  font-weight: 400;
}
main div#input-fields-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  direction: ltr;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 0px;
  margin: 0px auto;
}
main div#input-fields-container p.input-p {
  font-size: 1.05rem;
  font-weight: 500;
  font-style: normal;
  line-height: 150%;
  margin: 0.7rem 0px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
main div#input-fields-container input {
  outline: none;
  width: 40rem;
  height: 5rem;
  background: #F6F6F6;
  border-radius: 10px;
  border: none;
  padding: 16px 15px;
  font-size: 1.05rem;
  font-family: "Alexandria", sans-serif;
  text-align: left;
}
main div#input-fields-container input:focus {
  font-family: "Alexandria", sans-serif;
}
main #submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto 2rem auto;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border-radius: 20px;
  padding: 0px 0px 5rem 0px;
}
main #submit-button-container #submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
  font-size: 23px;
  min-width: 15rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1rem 1rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: #039BE5;
  color: white;
  transition: 0.3s;
  font-family: "Alexandria", sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
  background-color: #F6F6F6;
  margin: 3rem 0px 0px 0px;
  height: 3rem;
  width: 100vw;
}
footer p {
  font-size: 0.9rem;
}

@media screen and (max-width: 600px) {
  #header-logo {
    width: 4rem !important;
  }
  h1#E-D-H-1 {
    font-size: 2rem !important;
    margin-bottom: 0.7rem !important;
  }
  h3#E-D-H-3 {
    font-size: 1rem !important;
  }
  #input-fields-container {
    width: 20rem !important;
  }
  #input-fields-container p {
    font-size: 1.2rem !important;
  }
  #input-fields-container input {
    width: 20rem !important;
    height: 4.2rem !important;
    font-size: 1rem !important;
  }
  #submit-button {
    min-width: 20rem !important;
    max-width: 20rem !important;
    font-size: 16px !important;
  }
  h5#E-D-H-5 {
    font-size: small;
  }
}
footer p {
  font-size: 0.7rem !important;
}

@keyframes En_to_Ar_main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Ar_to_En_main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */