@media (max-width: 600px) {
  header {
    padding: 10px 10px !important;
    height: 70vh;

    & img#header-sky-bg {
      position: absolute;
      width: 300%;
    }

    & img#cloud1 {
      position: absolute;
      width: 40%;
      left: 25%;
    }

    & img#cloud2 {
      position: absolute;
      width: 40%;
      right: -20%;
    }

    & a img {
      $size: 40px;
      width: $size !important;
      height: $size !important;
    }

    & ul#headerLists {
      & li {
        font-size: 16px !important;
        &:not(:last-child) {
          margin-right: 1rem !important;
        }
      }
    }
  }
}
