@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

header {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  color: white;
  padding: 10px 60px;
  overflow: clip;

  & nav {
    top: 0;
    left: 0;
    position: relative;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px 0px;

    & img#logoHeader {
      width: 50px;
      height: 50px;
    }

    & ul#headerLists {
      list-style: none;
      display: flex;
      flex-direction: row;

      & li {
        color: white;
        font-size: 18px;
        cursor: pointer;
        letter-spacing: 1px;
        position: relative;
        $lower-space: -4px;
        $background-color: white;

        &::after {
          content: "";
          background-color: $background-color;
          width: 0%;
          height: 1.5px;
          border-radius: 5px;
          position: absolute;
          bottom: $lower-space;
          left: 50%;
          transition: 0.3s;
        }

        &::before {
          content: "";
          background-color: $background-color;
          width: 0%;
          height: 1.5px;
          border-radius: 5px;
          position: absolute;
          bottom: $lower-space;
          right: 49%;
          transition: 0.3s;
        }

        &:hover::after {
          width: 50%;
        }
        &:hover::before {
          width: 50%;
        }

        &:not(:last-child) {
          margin-right: 2.5rem;
        }
      }
    }
  }

  & img#header-sky-bg {
    position: absolute;
    width: 150%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  & img#cloud1 {
    position: absolute;
    width: 30%;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  & img#cloud2 {
    position: absolute;
    width: 30%;
    top: 30%;
    right: -10%;
    transform: translate(-50%, -50%);
  }

  & h1#header-message {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
  }

  & div#varient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //transform: translate(-50%, -50%);
    background: radial-gradient(transparent, #000000);
  }
}

@keyframes pumb1 {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 110%;
    height: 110%;
  }
}

@keyframes pumb2 {
  0% {
    width: 100%;
    height: 100%;
  }

  100% {
    width: 120%;
    height: 120%;
  }
}
