#canvasContainer {
  position: relative;
  z-index: 1;
  border-top: 5px solid #101028;
  width: fit-content;
  height: fit-content;

  canvas#space-effect {
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    margin: 0px 0px 9rem 0px;
    cursor: crosshair;
  }
}

@keyframes canvasTitleFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
