@media screen and (max-width: 600px) {

    #header-logo{
        width: 4rem !important;
    }
    
    h1#E-D-H {
        font-size: 1.4rem !important;
    }

    .radio-div{
        font-size: 1.2rem !important;
    }

    #input-text-container input[type="text"]{
        width: 20rem !important;
        height: 4.2rem !important;
    }

    #submit-button{
        font-size: 1rem !important;

        &:hover{
            width: 20rem !important;
        }
    }
}
