@media screen and (max-width: 600px) {
    $input_number_width: 20rem;

    #header-logo{
        width: 4rem !important;
    }
    
    h1#E-D-H-1 {
        font-size: 2rem !important;
        margin-bottom: 0.7rem !important;
    }
    
    h3#E-D-H-3{
        font-size: 1rem !important;
    }
    $width: 20rem;
    #input-fields-container {
        width: $width !important;

        & p {
            font-size: 1.2rem !important;
        }

        & input{
            width: $width !important;
            height: 4.2rem !important;
            font-size: 1rem !important;
        }
    }

    #submit-button{
        min-width: $width !important;
        max-width: $width !important;
        font-size: 16px !important;
    }


    h5#E-D-H-5{
        font-size: small;
    }
}

footer{
    & p{
        font-size: 0.7rem !important;
    }
}
