@use "../layout/var.scss" as *;

@use '../layout/general' as *;

@use '../layout/library' as *;


#tasksSectionTitle{
    @include sectionTitle('Tasks Section');
}

#tasks-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 300px;

    & #tasks-box {
        width: 1000px;
        height: auto;
        background-color: $white-4;
        padding: 60px 20px 25px 20px;
        position: relative;

        &::before {
            content: "Task List";
            position: absolute;
            left: 20px;
            top: 15px;
            font-size: 25px;
        }

        & #input-new-task {
            width: 100%;
            background-color: transparent;
            outline: none;
            padding: 6px 0px;
            font-size: 16px;
            border: 3px;
            border-style: solid;
            border-color: transparent transparent gray transparent;
            border-radius: 3px;
            transition: 0.4s;
            position: relative;

            &:focus {
                border-color: transparent transparent $green-4 transparent;
            }
        }

        & #button-div {
            width: 100%;
            height: auto;
            background-color: transparent;
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 30px 0px;

            & #submit-task-button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 15px;
                background-color: $green-4;
                color: white;
                cursor: pointer;
                font-size: 14px;
                border-radius: 5px;
                transition: 0.4s;

                &:hover {
                    filter: brightness(90%);
                }
            }
        }

        & hr {
            position: absolute;
            width: 100%;
            height: 0.1px;
            color: gray;
            background-color: gray;
            left: 0px;
        }

        & #lists-container {
            width: 100%;
            height: auto;
            padding: 80px 0px 0px 0px;
            position: relative;

            &::before {
                content: "Tasks";
                position: absolute;
                font-size: 25px;
                top: 30px;
                left: 0px;
            }

            & #filter-tasks {
                @extend #input-new-task;
                margin-bottom: 15px;
            }

            & .list {
                width: 100%;
                padding: 10px 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $green-4;
                margin-bottom: 3px;

                & p {
                    color: white;
                    cursor: pointer;
                    transition: .4s;

                    &:hover {
                        filter: brightness(90%);
                    }
                }

                & i {
                    color: #e3ab4e;
                    cursor: pointer;
                    transition: .2s;

                    &:hover {
                        filter: brightness(80%);
                    }
                }
            }

            &:last-child {
                margin-bottom: 25px;
            }

        }

        & #clear-tasks-div {
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 5px 0px;

            & #clear-tasks-button {
                background-color: black;
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}