@use '../layout/library' as *;

@use '../layout/var.scss' as *;

#weatherSectionTitle{
    @include sectionTitle('Weather Section','../../../images/section-split-image/weather (1).jpg');
}

#weatherDivContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 300px 0px;

    & #weatherDiv{
        width: 1000px;
        height: auto;
        padding: 80px 20px 60px;
        background-color: $white-4;
        backdrop-filter: blur(10px);
        position: relative;

        &::before{
            content: "Weather Statue";
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 30px;
            color: black;
        }

        & #showWeatherDegree{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 50px 0px;

            & p{
                font-size: 100px;
                position: relative;
            }

            & img {
                transform: scale(0.9);
                margin: 0px;
                padding: 0px;
            }
        }

        & #weatherDetails{
            width: 65%;
            height: auto;
            position: relative;
            padding: 100px 0px 0px 0px;
            display: grid;
            grid-template-columns: repeat(2,300px);
            grid-template-rows: repeat(3,30px);
            column-gap: 20px;
            row-gap: 30px;
            column-gap: 70px;
            margin: 0px auto;

            &::before{
                content: "Weather Details";
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 29px;
                color: black;
                text-decoration: underline;
                letter-spacing: 3px;
            }

            & div{
                height: fit-content;
                display: flex;
                justify-content: start;
                align-items: center;
                padding: 5px 5px;
                border-bottom: 1px solid gray;
                font-size: 19px;
            }
        }
    }
}

/* currentConditions 

    sky => conditions



*/